header {
    background-color: #ebedf3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body {
background: linear-gradient(#ebedf3,#89a5f3);
}