header {
    background-color: #4d73db)
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
body{
    background: linear-gradient(#4d73db, #f6f7fc);;
}